.temperature-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-90deg);
  }


  &__target-line {
    width: 2px;
    height: 50%;
    background-color: red;
    transform-origin: bottom;
  }

  &__min-max-lines {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 180px;
    margin-bottom: 10px;
    position: relative;
    bottom: 45px;
  }

  &__min-line,
  &__max-line {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #000;
      top: 50%;
      left: 50%;
      transform-origin: 0% 50%;
    }
  }

  &__max-line::before {
    transform: translateX(-50%) rotate(-45deg);
  }

  &__min-line::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &__text {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
